*{
  margin: 0;
  padding: 0;
  /*font-family: 'Poppins', sans-serif;*/
  font-family: "Early-GameBoy";
  src: url("/fonts/Early-GameBoy.woff2") format("woff2"), url("/fonts/Early-GameBoy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;

}
section{
  height: 500px;
  background-color: #080808;
}
@font-face {
  font-family: "Early-GameBoy";
  src: url("/mamidalaramu.github.io/fonts/Early-GameBoy.woff2") format("woff2"), url("/mamidalaramu.github.io/fonts/Early-GameBoy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body{
  background: #080808;
  color: #fff;
  height: 100vh;

}
/*#header{
  width: 100%;
  height: 100vh;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
}*/
.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}
.logo{
  width: 200px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.header-area{
  display: flex;
  flex-direction: column;
  height: 100%;
  /* justify-content: center; */
}
.header-text{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 10%;
  margin-bottom: 100px;
  font-size: 30px;
  justify-content: center;
}
.header-text h1{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 50px;
  margin-top: 20px;
  justify-content: center;
}
.header-text h1 span{
  color: #ff004f;
  
}

/* ------  about section --------- */

#about{

}
